<table style="width: 100%;">
    <tr>
        <td style="width: 15%;"><%=value.name%> : </td>
        <td>
            <%=fields.valueString.here()%>
            <%=fields.valueLong.here()%>
            <%=fields.valueDate.here()%>
        </td>
    </tr>
</table>



