<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	   xmlns:context="http://www.springframework.org/schema/context"
       xmlns:task="http://www.springframework.org/schema/task"
	   xmlns:tx="http://www.springframework.org/schema/tx"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.0.xsd">

    <!-- ============================================================= -->
    <!-- anotation scan -->
    <!-- ============================================================= -->
    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:*.properties</value>
                <value>classpath:org/uengine/uengine.properties</value>
            </list>
        </property>
        <property name="ignoreUnresolvablePlaceholders" value="true"/>
    </bean>

    <!--<context:component-scan base-package="org.uengine.codi.mw3;org.uengine.codi.scheduler"/>-->
	<context:component-scan base-package="org.uengine"/>
    <context:annotation-config/>
    <aop:aspectj-autoproxy/>

	<!-- ============================================================= -->
	<!-- DataAccess -->
	<!-- ============================================================= -->
    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
          destroy-method="close">

        <!-- MySQL Data Source -->
        <property name="driverClassName" value="${codi.jdbc.driverClassName}"/>
        <property name="url"
                  value="${codi.jdbc.url}"/>
        <property name="username" value="${codi.jdbc.username}"/>
        <property name="password" value="${codi.jdbc.password}"/>
        <property name="validationQuery" value="${codi.jdbc.validationQuery}"/>
    </bean>


	<!-- ============================================================= -->
	<!-- Resource Manager Settings -->
	<!-- ============================================================= -->


	<bean id="localFileStorage" class="org.uengine.modeling.resource.LocalFileStorage">
		<property name="localBasePath" value="."/>
	</bean>

	<bean class="org.uengine.modeling.resource.ResourceManager" scope="singleton">
		<property name="storage" ref="localFileStorage"/>
	</bean>


	<!-- ============================================================= -->
	<!-- uEngine SpringConnectionFactory setDataSource(DataSource) -->
	<!-- ============================================================= -->
	<bean class="org.uengine.codi.common.aoptx.ProcessManagerDirtyCheckAdvice" />


	<bean id="springConnectionFactory"
		  class="org.uengine.codi.MetaworksUEngineSpringConnectionAdapter"></bean>

	<bean id="processManagerBean" class="org.uengine.codi.CodiProcessManagerBean"
		  scope="request">
		<property name="managedTransaction" value="true" />
		<property name="autoCloseConnection" value="false" />
		<property name="connectionFactory" ref="springConnectionFactory" />
		<aop:scoped-proxy />
	</bean>

	<bean id="springConnectionFactoryForMetaworks" class="org.metaworks.spring.SpringConnectionFactory">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="MetaworksRemoteService" class="org.uengine.codi.mw3.CodiMetaworksRemoteService"
		  scope="singleton">
		<property name="connectionFactory" ref="springConnectionFactoryForMetaworks" />
	</bean>

	<bean class="org.metaworks.dao.TransactionAdvice">
		<property name="connectionFactory" ref="springConnectionFactoryForMetaworks" />
	</bean>


    <!-- ============================================================= -->
    <!-- Process Codi Schedule Job and Task Executor -->
    <!-- ============================================================= -->
    <task:annotation-driven executor="codiExecutor" scheduler="codiScheduler"/>
    <task:executor id="codiExecutor" pool-size="1"/>
    <task:scheduler id="codiScheduler" pool-size="2"/>

	<!-- ============================================================= -->
	<!-- Process Codi Services -->
	<!-- ============================================================= -->
<!--	<bean id="InstanceViewContent" class="org.uengine.codi.mw3.model.InstanceViewContent" />
	<bean id="Posting" class="org.uengine.codi.mw3.model.Posting" />
	<bean id="ProcessDefinition" class="org.uengine.codi.mw3.model.ProcessDefinition" />
	<bean id="WorkItem" class="org.uengine.codi.mw3.model.WorkItem"
		  scope="request" />
	<bean id="CommentWorkItem" class="org.uengine.codi.mw3.model.CommentWorkItem"
		  scope="request" />
	<bean id="SourceCodeWorkItem" class="org.uengine.codi.mw3.model.SourceCodeWorkItem"
		  scope="request" />
	<bean id="WorkItemHandler" class="org.uengine.codi.mw3.model.WorkItemHandler" />
	<bean id="InstanceView" class="org.uengine.codi.mw3.model.InstanceView" />
	<bean id="Instance" class="org.uengine.codi.mw3.model.Instance" />
	<bean id="Contact" class="org.uengine.codi.mw3.model.Contact" />
	<bean id="CrowdSourcer" class="org.uengine.codi.mw3.model.CrowdSourcer" />
	<bean id="ProcessDesignerContentPanel" class="org.uengine.codi.mw3.model.ProcessDesignerContentPanel" />
	<bean id="ProcessDesignerWindow" class="org.uengine.codi.mw3.model.ProcessDesignerWindow" />
	<bean id="FileWorkItem" class="org.uengine.codi.mw3.model.FileWorkItem" />
	<bean id="InstanceViewPublic" class="org.uengine.codi.mw3.model.InstanceViewPublic" />
	<bean id="PageNavigator" class="org.uengine.codi.mw3.admin.PageNavigator" />
	<bean id="Login" class="org.uengine.codi.mw3.Login" />
	<bean id="MainPanel" class="org.uengine.codi.mw3.common.MainPanel" />
	<bean id="Workflowy" class="org.uengine.codi.mw3.knowledge.Workflowy" />
	<bean id="MemoWorkItem" class="org.uengine.codi.mw3.model.MemoWorkItem" />
	<bean id="EMailReader" class="org.uengine.codi.cron.EMailReader" />
	<bean id="EmailWorkItem" class="org.uengine.codi.mw3.model.EmailWorkItem" />
	<bean id="UnstructuredProcessInstanceStarter"
		  class="org.uengine.codi.mw3.model.UnstructuredProcessInstanceStarter" />-->

	<!--&lt;!&ndash; ============================================================= &ndash;&gt;-->
	<!--&lt;!&ndash; Cron Job &ndash;&gt;-->
	<!--&lt;!&ndash; ============================================================= &ndash;&gt;-->
	<!--&lt;!&ndash; Schedule Reader &ndash;&gt;-->
	<!--<bean id="scheduleReader" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">-->
		<!--<property name="jobClass" value="org.uengine.codi.cron.ScheduleReader" />-->
		<!--<property name="jobDataAsMap">-->
			<!--<map>-->
				<!--<entry key="connectionFactory" value-ref="springConnectionFactoryForMetaworks"/>-->
			<!--</map>-->
		<!--</property>-->
	<!--</bean>-->
	<!--<bean id="waitJob" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">-->
		<!--<property name="jobClass" value="org.uengine.scheduler.WaitJob" />-->
		<!--<property name="jobDataAsMap">-->
			<!--<map>-->
				<!--<entry key="connectionFactory" value-ref="springConnectionFactoryForMetaworks"/>-->
			<!--</map>-->
		<!--</property>-->
	<!--</bean>-->
	<!--<bean id="emailJob" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">-->
		<!--<property name="jobClass" value="org.uengine.codi.cron.EmailCronJob" />-->
		<!--<property name="jobDataAsMap">-->
			<!--<map>-->
				<!--<entry key="connectionFactory" value-ref="springConnectionFactoryForMetaworks"/>-->
			<!--</map>-->
		<!--</property>-->
	<!--</bean>-->
	<!--<bean id="waitTrigger" class="org.springframework.scheduling.quartz.SimpleTriggerFactoryBean">-->
		<!--<property name="jobDetail" ref="waitJob" />-->
		<!--<property name="startDelay" value="5000" />-->
		<!--<property name="repeatInterval" value="20000" />-->
	<!--</bean>-->
	<!--<bean id="scheduleTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">-->
		<!--<property name="jobDetail" ref="scheduleReader" />-->
		<!--<property name="cronExpression" value="0 0 8 * * ?" />-->
	<!--</bean>-->
	<!--<bean id="emailTrigger" class="org.springframework.scheduling.quartz.SimpleTriggerFactoryBean">-->
		<!--<property name="jobDetail" ref="emailJob" />-->
		<!--<property name="startDelay" value="5000" />-->
		<!--<property name="repeatInterval" value="200000" />-->
	<!--</bean>-->

	<!--<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">-->
		<!--<property name="triggers">-->
			<!--<list>-->
				<!--<ref bean="waitTrigger" />-->
				<!--<ref bean="scheduleTrigger" />-->
			<!--</list>-->
		<!--</property>-->
		<!--<property name="quartzProperties">-->
			<!--<props>-->
				<!--<prop key="org.quartz.threadPool.class">org.quartz.simpl.SimpleThreadPool</prop>-->
				<!--<prop key="org.quartz.threadPool.threadCount">5</prop>-->
				<!--<prop key="org.quartz.threadPool.threadPriority">4</prop>-->
				<!--<prop key="org.quartz.jobStore.class">org.quartz.simpl.RAMJobStore</prop>-->
				<!--<prop key="org.quartz.jobStore.misfireThreshold">60000</prop>-->
			<!--</props>-->
		<!--</property>-->
	<!--</bean>-->
</beans>