/* 505 */
.filemgr-tree {
	cursor: default;
	position: relative;
	padding: 0;
	overflow: hidden;
	/* border-right: 1px solid whiteSmoke; */
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
	color: #222;
}

/* 525 */
.filemgr-tree u {
	position: relative;
	overflow: hidden;
	display: block;
	margin: 0;
	padding: 0 0 0 0;
	text-decoration: none;
}

/* 534 */
.filemgr-tree U .item-fix {
    padding-left : 15px;
}

.filemgr-tree U U .item-fix {
    padding-left : 30px;
}

.filemgr-tree U U U .item-fix {
    padding-left : 45px;
}

.filemgr-tree U U U U .item-fix {
    padding-left : 60px;
}

.filemgr-tree U U U U U .item-fix {
    padding-left : 75px;
}

.filemgr-tree U U U U U U .item-fix {
    padding-left : 90px;
}

.filemgr-tree U U U U U U U .item-fix {
    padding-left : 105px;
}

.filemgr-tree U U U U U U U U .item-fix {
    padding-left : 120px;
}

.filemgr-tree U U U U U U U U U .item-fix {
    padding-left : 135px;
}

.filemgr-tree U U U U U U U U U U .item-fix {
    padding-left : 150px;
}

.filemgr-tree U U U U U U U U U U U .item-fix {
    padding-left : 165px;
}

.filemgr-tree U U U U U U U U U U U U .item-fix {
    padding-left : 180px;
}

.filemgr-tree U U U U U U U U U U U U U .item-fix {
    padding-left : 195px;
}

.filemgr-tree U U U U U U U U U U U U U U .item-fix {
    padding-left : 210px;
}

.filemgr-tree U U U U U U U U U U U U U U U .item-fix {
    padding-left : 225px;
}

.filemgr-tree U U U U U U U U U U U U U U U U .item-fix {
    padding-left : 240px;
}

.filemgr-tree U U U U U U U U U U U U U U U U U .item-fix {
    padding-left : 255px;
}

.filemgr-tree U U U U U U U U U U U U U U U U U U .item-fix {
    padding-left : 270px;
}

.filemgr-tree U U U U U U U U U U U U U U U U U U U .item-fix {
    padding-left : 285px;
}

.filemgr-tree U U U U U U U U U U U U U U U U U U U U .item-fix {
    padding-left : 300px;
}

/* 534 */
.filemgr-tree U .item-fix-right {
    padding-right : 15px !important;
}

.filemgr-tree U U .item-fix-right {
    padding-right : 30px !important;
}

.filemgr-tree U U U .item-fix-right {
    padding-right : 45px !important;
}

.filemgr-tree U U U U .item-fix-right {
    padding-right : 60px !important;
}

.filemgr-tree U U U U U .item-fix-right {
    padding-right : 75px !important;
}

.filemgr-tree U U U U U U .item-fix-right {
    padding-right : 90px !important;
}

.filemgr-tree U U U U U U U .item-fix-right {
    padding-right : 105px !important;
}

.filemgr-tree U U U U U U U U .item-fix-right {
    padding-right : 120px !important;
}

.filemgr-tree U U U U U U U U U .item-fix-right {
    padding-right : 135px !important;
}

.filemgr-tree U U U U U U U U U U .item-fix-right {
    padding-right : 150px !important;
}

.filemgr-tree U U U U U U U U U U U .item-fix-right {
    padding-right : 165px !important;
}

.filemgr-tree U U U U U U U U U U U U .item-fix-right {
    padding-right : 180px !important;
}

.filemgr-tree U U U U U U U U U U U U U .item-fix-right {
    padding-right : 195px !important;
}

.filemgr-tree U U U U U U U U U U U U U U .item-fix-right {
    padding-right : 210px !important;
}

.filemgr-tree U U U U U U U U U U U U U U U .item-fix-right {
    padding-right : 225px !important;
}

.filemgr-tree U U U U U U U U U U U U U U U U .item-fix-right {
    padding-right : 240px !important;
}

.filemgr-tree U U U U U U U U U U U U U U U U U .item-fix-right {
    padding-right : 255px !important;
}

.filemgr-tree U U U U U U U U U U U U U U U U U U .item-fix-right {
    padding-right : 270px !important;
}

.filemgr-tree U U U U U U U U U U U U U U U U U U U .item-fix-right {
    padding-right : 285px !important;
}

.filemgr-tree U U U U U U U U U U U U U U U U U U U U .item-fix-right {
    padding-right : 300px !important;
}


.filemgr-tree U .item-fix {
    padding-left : 15px;
}

.filemgr-tree U U .item-fix {
    padding-left : 30px;
}

.filemgr-tree U U U .item-fix {
    padding-left : 45px;
}

.filemgr-tree U U U U .item-fix {
    padding-left : 60px;
}

.filemgr-tree U U U U U .item-fix {
    padding-left : 75px;
}

.filemgr-tree U U U U U U .item-fix {
    padding-left : 90px;
}

.filemgr-tree U U U U U U U .item-fix {
    padding-left : 105px;
}

.filemgr-tree U U U U U U U U .item-fix {
    padding-left : 120px;
}

.filemgr-tree U U U U U U U U U .item-fix {
    padding-left : 135px;
}

.filemgr-tree U U U U U U U U U U .item-fix {
    padding-left : 150px;
}

.filemgr-tree U U U U U U U U U U U .item-fix {
    padding-left : 165px;
}

.filemgr-tree U U U U U U U U U U U U .item-fix {
    padding-left : 180px;
}

.filemgr-tree U U U U U U U U U U U U U .item-fix {
    padding-left : 195px;
}

.filemgr-tree U U U U U U U U U U U U U U .item-fix {
    padding-left : 210px;
}

.filemgr-tree U U U U U U U U U U U U U U U .item-fix {
    padding-left : 225px;
}

.filemgr-tree U U U U U U U U U U U U U U U U .item-fix {
    padding-left : 240px;
}

.filemgr-tree U U U U U U U U U U U U U U U U U .item-fix {
    padding-left : 255px;
}

.filemgr-tree U U U U U U U U U U U U U U U U U U .item-fix {
    padding-left : 270px;
}

.filemgr-tree U U U U U U U U U U U U U U U U U U U .item-fix {
    padding-left : 285px;
}

.filemgr-tree U U U U U U U U U U U U U U U U U U U U .item-fix {
    padding-left : 300px;
}



/*-15px*/
.minus15 U .item-fix {
    padding-left : 0px !important;
}

.minus15 U U .item-fix {
    padding-left : 15px  !important;
}

.minus15 U U U .item-fix {
    padding-left : 30px  !important;
}

.minus15 U U U U .item-fix {
    padding-left : 45px  !important;
}

.minus15 U U U U U .item-fix {
    padding-left : 60px !important;
}

.minus15 U U U U U U .item-fix {
    padding-left : 75px !important;
}

.minus15 U U U U U U U .item-fix {
    padding-left : 90px !important;
}

.minus15 U U U U U U U U .item-fix {
    padding-left : 105px !important;
}

.minus15 U U U U U U U U U .item-fix {
    padding-left : 120px !important;
}

.minus15 U U U U U U U U U U .item-fix {
    padding-left : 135px !important;
}

.minus15 U U U U U U U U U U U .item-fix {
    padding-left : 150px !important;
}

.minus15 U U U U U U U U U U U U .item-fix {
    padding-left : 165px !important;
}

.minus15 U U U U U U U U U U U U U .item-fix {
    padding-left : 180px !important;
}

.minus15 U U U U U U U U U U U U U U .item-fix {
    padding-left : 195px !important;
}

.minus15 U U U U U U U U U U U U U U U .item-fix {
    padding-left : 210px !important;
}

.minus15 U U U U U U U U U U U U U U U U .item-fix {
    padding-left : 225px !important;
}

.minus15 U U U U U U U U U U U U U U U U U .item-fix {
    padding-left : 240px !important;
}

.minus15 U U U U U U U U U U U U U U U U U U .item-fix {
    padding-left : 255px !important;
}

.minus15 U U U U U U U U U U U U U U U U U U U .item-fix {
    padding-left : 270px !important;
}

.filemgr-tree U U U U U U U U U U U U U U U U U U U U .item-fix {
    padding-left : 295px !important;
}    
    
    
/**/
    
    
    
.filemgr-tree .item-fix {
    position:relative;
    /*width:100%;*/
}



.filemgr-tree:not(.searchresults) .item-fix {
    border-top:1px solid transparent;
    border-bottom:1px solid transparent;
}

.filemgr-treeDisabled .item-fix{
    opacity : 0.9;
}

.filemgr-tree .item-fix .item {
    padding:0 0 0 14px;
    position:relative;
}

.filemgr-tree .item-fix-right .item {
    padding:0 14px 0 0 !important;
    position:relative;
}


.filemgr-tree.openfile .item-fix .item{
}

.rundebug .item-fix .item label{
    padding-left : 4px;
}

.rundebug .curfile span{
    display : none !important;
}

.filemgr-tree .item-fix.selected {
    background : #2388da;
}
.treeOutline .filemgr-tree .item-fix.selected label u {  
    color: white;
}


.filemgr-dragtree .item .caption,
.filemgr-tree .item-fix.dragAppend .item,
.filemgr-tree .item-fix.dragAppendUpload .item {
    color: white;
    margin-right: 5px;
}

.filemgr-dragtree .item .caption,
.filemgr-tree .item-fix.dragAppend .label-content,
.filemgr-tree .item-fix.dragAppendUpload .label-content {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background : -webkit-gradient(linear, left top, left bottom, from(#2890e5), color-stop(1, #1f82d2));
    background : -moz-linear-gradient(center bottom, #1f82d2 0%, #2890e5 100%) repeat scroll 0 0 transparent;
}

.filemgr-tree .item-fix.dragAppendUpload .label-content > LABEL {
    background: url(../images/tree/tree_upload_icon.png) no-repeat 0 0 !important;
    background-position: 3 0;
}

.filemgr-tree .item-fix.dragDenied {

}

.filemgr-tree .item-fix.dragInsert {

}

.filemgr-treeFocus .item-fix.selected, 
.filemgr-tree.openfile .item-fix.selected{
    border-top:1px solid #3a9bec;
    border-bottom:1px solid #185f97;
    background : -webkit-gradient(linear, left top, left bottom, from(#2890e5), color-stop(1, #1f82d2));
    background : -moz-linear-gradient(center bottom, #1f82d2 0%, #2890e5 100%) repeat scroll 0 0 transparent;
}

.filemgr-dragtree,
.filemgr-tree .item-fix.dragAppend .item LABEL .caption,
.filemgr-tree .item-fix.dragAppendUpload .item LABEL .caption,
.filemgr-treeFocus .item-fix.selected .item LABEL .caption,
.filemgr-treeFocus .item-fix.dragAppend .item LABEL .caption,
.filemgr-tree.openfile .item-fix.selected .item LABEL .caption,
.filemgr-treeFocus .item-fix.dragAppend .item LABEL .caption,
.filemgr-treeFocus .item-fix.selected .item LABEL .caption b {
    color:white !important;
}

.filemgr-treeFocus > .item-fix.selected:first-child,
.filemgr-tree.openfile > .item-fix.selected:first-child {
	border-top-color:#166CAD;
}

.filemgr-tree .item SPAN {
    top:5px;
    left:4px;
    width:10px;
    height:10px;
    position:absolute;
    overflow:hidden;
    text-indent : -2000px;
}

.filemgr-tree .item-fix-right .item SPAN {
    right:4px;
    left:inherit !important;
}

.filemgr-tree.openfile .item SPAN{
    left: 3px;
    display: block;
    text-indent: 0;
    line-height: 6px;
    width: 7px;
    height: 7px;
    padding: 2px 3px 5px 3px;
    font-family: Tahoma;
    font-size: 11px;
    top: 2px;
    cursor: default;
    z-index: 1000;
    text-shadow: 1px 1px 0px white;
    color: #999;
}
.filemgr-tree.openfile .item-fix SPAN:hover{
    color : #555;
}
.filemgr-tree.openfile .item-fix.selected SPAN{
    color : rgb(17,82,139);
    text-shadow: 1px 1px 0 rgba(255,255,255,0.5);
}
.filemgr-tree.openfile .item-fix.selected SPAN:hover{
    color : #041b2f;
}
.filemgr-tree.openfile .item-fix SPAN:active{
    color : red;
    text-shadow: 1px 1px 0 rgba(255,0,0,0.3);
}
.filemgr-tree.openfile .item-fix.selected SPAN:active{
    color : red;
}

.filemgr-tree U.root .item-fix.min .item SPAN,
.filemgr-tree U.root .item-fix.minlast .item SPAN,
.filemgr-tree U.root .item-fix.plus .item SPAN,
.filemgr-tree U.root .item-fix.pluslast .item SPAN,
.filemgr-tree:not(.treeOutline) .item-fix.root .item SPAN {
    background-image:url(../images/tree/tree_close_arrow_small.png);
    background-repeat: no-repeat;
}
.treeOutline .item-fix.root.min .item SPAN {
    background-image:url(../images/tree/tree_close_arrow_small.png) !important;
    background-repeat: no-repeat;
}
.dark .filemgr-tree U.root .item-fix.min .item SPAN,
.dark .filemgr-tree U.root .item-fix.minlast .item SPAN,
.dark .filemgr-tree U.root .item-fix.plus .item SPAN,
.dark .filemgr-tree U.root .item-fix.pluslast .item SPAN,
.dark .filemgr-tree .item-fix.root .item SPAN {
}

.filemgr-tree .item-fix.min .item SPAN,
.filemgr-tree .item-fix.minlast .item SPAN {
    background-position: -10px -1px;
}

.filemgr-tree .item-fix.plus .item SPAN,
.filemgr-tree .item-fix.pluslast .item SPAN {
    background-position: 0 0;
}

.filemgr-tree .item LABEL {
    display:block;
    position:relative;
    background-position:3px 0px;
    background-repeat:no-repeat;
    padding-left:25px;
	margin-bottom:0px !important;
	height:18px;
	line-height:18px;
	margin:0px !important;
}

.filemgr-tree .item-fix-right .item LABEL {
    display:block;
    position:relative;
    height:18px;
    background-position:right 1px !important;
    background-repeat:no-repeat;
    padding-left:0px;
}


.filemgr-tree.searchresults .item LABEL {
    background-position: 3px 50%;
}

.filemgr-tree .item LABEL .caption {
    font-family : Tahoma, Arial;
    font-size   : 11px;
    display:block;
    position:relative;
    overflow:hidden;
    height:16px;
    padding:1px 0 0 0px;
    text-decoration:none;
    white-space: nowrap;
}
.filemgr-tree .item-fix-right .item LABEL .caption {
    font-family : Tahoma, Arial;
    font-size   : 11px;
    display:block;
    position:relative;
    overflow:hidden;
    height:16px;
    padding:1px 0px 0 0 !important;
    text-decoration:none;
    white-space: nowrap;
}

.filemgr-tree.not(treeOutline) .item LABEL .caption {
    color       : #101010;
}
.treeOutline.filemgr-tree .item LABEL .caption {
    padding: 1px 0 0 2px;
}

.filemgr-tree .fileupload .item LABEL .caption {
    color: #a6a6a6;
    text-shadow : #ffffff 0px 1px 0px;
}

.filemgr-tree .loading .item {
    background : url(../images/tree/file-tree-load-spinner.gif) no-repeat 17px 1px;
}

.filemgr-tree .loading .item LABEL {
    background-position : -1000px 0 !important;
}

.filemgr-tree .loading.selected .item {
    background : url(../images/tree/file-tree-load-spinner-selected.gif) no-repeat 17px 1px;
}

.filemgr-tree .ldng,
.filemgr-tree .empty {
    display : none;
}

#txt_rename {
    height:16px;
    padding-left:1px;
    margin-top:0px;

    font-family : Tahoma, Arial;
    font-size   : 11px;
    color       : #101010;
    position:relative;
    overflow:visible;
    text-decoration:none;
    white-space: nowrap;
    word-break: keep-all;
    cursor: text;
    outline : none;

    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -o-user-select: text;
    user-select: text;

    overflow: visible;
    display: inline-block;
    background-color: #EAF1F7;
    border: 1px solid #90C3EF;
    -moz-box-shadow: 0px 0px 6px #76839A;
    -webkit-box-shadow: 0px 0px 6px #76839A;
    box-shadow: 0px 0px 6px #76839A;
}

.filemgr-tree #txt_rename {
    margin-left: 21px;
}

#txt_rename::selection {
    background: #90C3EF;
    }
#txt_rename::-moz-selection {
    background: #90C3EF;
}

.filemgr-dragtree {
    overflow:hidden;
    height:22px;
    opacity: .6;
}

.filemgr-dragtree .item SPAN {
    display:none;
}

.filemgr-dragtree .item LABEL {
    display:block;
    position:relative;
    overflow:hidden;
    height:20px;
    background-position:0 2px;
    background-repeat:no-repeat;
    margin-left:6px;
    padding-right:6px;
    float:left;
}

.filemgr-dragtree .item LABEL .caption {
    font-family     : Tahoma, Arial;
    font-size       : 11px;
    color           : white;
    display         : block;
    position        : relative;
    overflow        : hidden;
    height          : 16px;
    padding         : 0 5px 0;
    margin-left     : 18px;
    margin-top      : 3px;
    text-decoration : none;
    white-space     : nowrap;
    text-shadow : #8394a2 0px 1px 0px;
}

.openfile .ldng, .openfile .message{
    text-align : center;
    font-size : 11px;
    padding : 5px;
}

.filemgr-tree .syncing .caption{ 
    background : url(../images/tree/syncing_unsel.gif) no-repeat 2px 9px; 
}
.filemgr-tree .syncing.selected .caption{ 
    background : url(../images/tree/syncing_sel.gif) no-repeat 2px 9px; 
}
.filemgr-tree .synced .caption{ 
    background : url(../images/tree/synced_unsel.png) no-repeat 2px 9px; 
}
.filemgr-tree .synced.selected .caption{ 
    background : url(../images/tree/synced_sel.png) no-repeat 2px 9px; 
}
.filemgr-tree .conflict .caption{ 
    background : url(../images/tree/conflict_unsel.png) no-repeat 2px 9px; 
}
.filemgr-tree .conflict.selected .caption{ 
    background : url(../images/tree/conflict_sel.png) no-repeat 2px 9px; 
}
.filemgr-tree .syncing_added .caption{ 
    background : url(../images/tree/syncing_unsel.gif) no-repeat 2px 9px; 
}
.filemgr-tree .syncing_added.selected .caption{ 
    background : url(../images/tree/syncing_sel.gif) no-repeat 2px 9px; 
}
.filemgr-tree .syncing_added, .filemgr-tree .syncing_added.selected{
    opacity : 0.5;
}


.filemgr-tree .item LABEL .caption {
    height:16px;
}
.filemgr-tree.not(treeOutline) .item LABEL .caption {
    padding:2px 0 0 23px;
}

#txt_rename {
    height:15px;
    padding-top:1px;
}

.filemgr-dragtree2 .item LABEL .caption {
    height          : 16px;
    padding         : 3px 0 0 20px;
}