<table style="width: 100%;">
    <tr>
        <td style="width: 30%;"><%=fields.type.here()%></td>
        <td>
            <%=fields.valueString.here()%>
            <%=fields.valueLong.here()%>
            <%=fields.valueDate.here()%>
        </td>
    </tr>
</table>
