<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>
    
    <context:component-scan base-package="org.uengine.modeling.resource"/>

    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:org/uengine/uengine.properties</value>
            </list>
        </property>
        <property name="ignoreUnresolvablePlaceholders" value="true"/>
    </bean>

    <bean id="storage" class="org.uengine.modeling.resource.AmazonS3Storage">
        <property name="amazonS3Bucket" value="${Amazon.S3.Bucket}"/>
        <property name="awsAccessKey" value="${Amazon.AccessKeyID}"/>
        <property name="awsSecretAccessKey" value="${Amazon.SecretAccessKey}"/>
    </bean>

    <bean id="ProcessResource" class="org.uengine.modeling.resource.resources.EssenceProcessResource"/>

</beans>