<div id="canvas_<%=objectId%>" style="cursor: default; overflow:auto;  background:#F1FCF1; position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px;">
</div>

<%
	if(value){
%>

<%=fields.elementViewList.here()%>
<%=fields.relationViewList.here()%>

<%
	}
%>