<br/><div class="ui-layout-center"><%=fields.canvas.here()%></div>
<%
	if(value.palette && (!mw3.isHidden(fields.palette))){
%>
		<div class="ui-layout-west"><%=fields.palette.here()%>
		</div>
<%
	}
%>