<%
	if(value){
%>
<br/><div class="ui-layout-center"><%=fields.canvas.here()%></div>
<%
	if(value.palette && (!mw3.isHidden(fields.palette))){
%>
		<div style="display:none"><%=fields.palette.here()%>
		</div>
<%
	}
	}
%>