<div class="panel panel-default">
	<div class="panel-heading">
		<h4><a data-toggle="collapse" href="#collapse<%=objectId%>"><%=value.name%></a></h4>
	</div>
	<div class="panel-body" id="collapse<%=objectId%>" class="panel-collapse collapse">
		<%=fields.symbolList.here()%>
	</div>
</div>

