

<div style="padding:15px; height: 100%; overflow: hidden">

    <div style="overflow: auto; height: 90%">
        <%
        if(value.validationPanel){ %>

            <%=fields.validationPanel.here()%>
            <%=fields.panel.here()%>

        <%}else{%>

             <%=fields.panel.here()%>

        <%}%>


    </div>
    <div style="height: 10%">
        <div style="vertical-align: middle" align="right">
        <%=methods.apply.here()%>
        </div>
    </div>

</div>
