<div style="overflow: auto">

<h2 style="margin-top: 0px">Tutorials</h2>

<div class="bs-example" data-example-id="thumbnails-with-custom-content">
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe src="https://player.vimeo.com/video/159151283" class="embed-responsive-item" style="width:100%"  frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </div>
                <div class="caption">
                    <h3>Basic Tutorial of Essence</h3>
                    <p>This is basic tutorial of Essence and Essencia Tool</p>
                </div>
            </div>
        </div>


    </div>
</div>


<h2><%=mw3.localize("$RecentlyModified")%></h2>
<%=fields.recentPreviewers.here()%>

</div>