<%
	if(value){
%>
<div style="height:100%; padding:0 10px">
 	<div style=" height:50%;padding:20px;background:#fff;overflow:auto;border: 1px solid #aaa">
		<%=fields.root.here()%>
	</div>
</div>
<%
	}
%>