<div class="ui-layout-west" style="padding: 20px 0">
      	<%=fields.resourceNavigator.here()%>
      </div>
      <div class="ui-layout-center" style="padding: 20px 0">
      	<div style="position:relative; height: 100%">
      		<%=fields.editorPanel.here()%>
      	</div>
      </div>